.message
  .message-top
    .sender-name
      = message.user.name
    .send-date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message-contents
    - if message.text.present?
      .message-text
        = message.text
    - if message.image.present?
      .message-image
        = image_tag message.image.url