
.chat-window {
  display: flex;
  position: relative;
  left: 0;
  top: 0;

  .left-navi {
    height: 100%;
    .navi-top {
      height: 100px;
      width: 260px;
      padding:0 20px;
      background-color: #253141;
      display:flex;

      .current-user-name {
        font-size: 16px;
        font-weight: bold;
        padding: 40px 20px 40px;
        color: $white;
      }

      .navi-left-icon {
        position: absolute;
        left: 250px;
        padding: 40px 0;

        .fa {
          color: $white;
        }
      }

      .navi-right-icon {
        position: absolute;
        left: 260px;
        padding: 40px 0 0 10px;

        .fa {
          color: $white;
        }
      }
    }

    .all-group-name {
      width:260px;
      padding: 20px 20px 0;
      height: calc(100vh - 120px);
      background-color: #2f3e51;
      color: $white;
      font-weight: bold;
      overflow: auto;

      .group {
        margin: 0 0 40px 0;


        a {
          text-decoration: none;
          font-weight: normal;
          color: $white;

          .group-name {
            font-size: 15px;
            padding: 0 0 5px 0;
          }

          .group-text {
            font-size: 11px;
          }
        }
      }
    }
  }

  .right-contents {
    width: calc(100vw - 260px);

    .right-header {
      height: 99px;
      border-bottom: solid 1px#eeeeee;

      &-top {
        display: flex;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        padding: 28px 0 7px 40px;

        .current-group {
          padding: 8px 0;
        }

        .edit-button {
          position: absolute;
          right: 40px;
          padding: 7px 20px;
          border: solid 1px;
          color: #38AEF0;
          float: right;

          .button {
            text-decoration: none;
            color: #38AEF0;
          }
        }
      }

      .member-list {
        font-size: 12px;
        padding: 5px 0 0 40px;
        color: #999999;

        ul {
          display: flex;

          li {
            margin-left: 5px;
          }
        }
      }
    }

    .right-message-room {
      height: calc(100vh - 234px);
      background-color: #fafafa;
      padding: 46px 40px 0;
      overflow: auto;

      .messages {

        .message {
          margin: 0 0 40px;

          &-top {
            display: flex;

            .sender-name {
              font-size: 16px;
              color: #434A54;
              font-weight: bold;
              margin: 0 10px 0 0;
            }

            .send-date {
              font-size: 12px;
              color: #999999
            }
          }

          .message-text {
            padding: 10px 0 0;
            font-size: 14px;
            color: #434A54
          }
        }
      }
    }

    .right-form {
      height: 50px;
      width: calc(100vw - 380px);
      display: flex;
      padding: 20px 40px 20px 40px;
      background-color: #DDDDDD;

      .form {
        display: flex;
        width: 100%;
        .new_message {
          display: flex;
          width: 100%;
          .form-box {
            width: calc(100% - 170px);
            height: 50px;
            background-color: white;
            padding: 0 40px 0 10px;
            font-size: 16px;
            color: #434A54;
            border: none;
            outline: none;
            box-sizing: border-box;
          }

          .image-button {
            font-size: 22px;
            background: #fff;
            height: 26px;
            padding: 12px;
            margin: 0 20px 0 0;
          }

          .file {
            display: none;
          }

          .send-button {
            height: 10px;
            background-color: #38AEF0;
            color:$white;
            text-decoration: none;
            padding: 15px 30px 35px 30px;
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
          }
        }
      }
    }

  }
}








